# Dependency directories
node_modules/
venv/
env/
.env

# Build outputs
dist/
build/
*.pyc
__pycache__/

# Large models
# Large models (uncomment if you use external storage like S3/LFS)
# *.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# Secrets
backend/.env
frontend/.env
ml-service/.env
